{
  "presets": [
    "es2015",
    "stage-3",
    "react"
  ],
  "plugins": ["transform-object-rest-spread"],
  "env": {
  	"production": {
  		"plugins": [
  			"transform-react-constant-elements",
  			"transform-react-remove-prop-types"
  		]
  	}
  }
}
